{% extends 'HospitalBundle:Default:frontHabilitado.twig.html' %}

{% block cuerpo %}
	<h1>{{ data_vista.getTitulo() }}</h1>
	<h2>{{ data_vista.getDescripcion() }}</h2>
	<h3> El sitio se encuentra en mantenimiento</h3>	
	
{% endblock %}	