{% extends 'HospitalBundle:Default:frontHabilitado.twig.html' %}

{% block cuerpo %}
    <h1>Editar Usuario</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="EDITAR" class="btn btn-success btn-md col-md-1" />
    {{ form_end(edit_form) }}
    <a href="{{ path('usuario_index') }}" class="btn btn-primary btn-md col-md-1 col-md-offset-1" >Volver</a>
{% endblock %}
