{% extends 'HospitalBundle:Default:frontHabilitado.twig.html' %}

{% block cuerpo %}
    <h1>Editar Paciente</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="EDITAR" class="btn btn-success btn-md col-md-1" />
    {{ form_end(edit_form) }}
    <a class="btn btn-primary btn-md col-md-1 col-md-offset-1" href="{{ path('paciente_show', { 'id': paciente.id }) }}">VOLVER</a> 
    
{% endblock %}
