{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
    

 <label>CREAR DATO DEMOGRAFICO</label>   
<div class="form-container table-container"> 
     <form id="test-form" class="" action='index.php?seccion=demografico&amp;action=updateDB' method='POST'>
        <div class="form-group"> 
            <label class = "form-control-label" for="Heladera">Heladera? :</label><br>
            
                <label class="radio-inline"><input type="radio" value="1" name="heladera" {% if demografico.heladera == 1 %} checked {% endif%}>Si</label>
                
            
             <label class="radio-inline"><input type="radio" value="0" name="heladera" {% if demografico.heladera == 0 %} checked {% endif%}>No</label>
            
            </div>
             <div class="form-group"> 
            <label class = "form-control-label" for="Electricidad">Electricidad? :</label><br>
                <label class="radio-inline"><input type="radio" value="1" name="electricidad" {% if demografico.electricidad == 1 %} checked {% endif%}>Si</label>
            
             <label class="radio-inline"><input type="radio" value="0" name="electricidad" {% if demografico.electricidad == 0 %} checked {% endif%} >No</label>
            
             </div>
            <div class="form-group"> 
            <label class = "form-control-label" for="username">Mascota? :</label><br>
            
                <label class="radio-inline"><input type="radio" value="1" name="mascota" {% if demografico.mascota == 1 %} checked {% endif%}>Si</label>
                
            
             <label class="radio-inline"><input type="radio" value="0" name="mascota" {% if demografico.mascota == 0 %} checked {% endif%}>No</label>
            
            <div class="form-group">
                <label for="sel1">Tipo de vivienda:</label>
                <select class="form-control" name="opcionvivienda" id="sel1">
                         <option value="1" {% if demografico.opcionvivienda == 1 %} selected {% endif%}>Departamento </option>
                         <option value="2" {% if demografico.opcionvivienda == 2 %} selected {% endif%}>Casa</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="sel2">Tipo de calefaccion:</label>
                <select class="form-control" name="opcioncalefaccion" id="sel2">
                         <option value="1" {% if demografico.opcioncalefaccion == 1 %} selected {% endif%}>Central</option>
                         <option value="2" {% if demografico.opcioncalefaccion == 1 %} selected {% endif%}>Gas</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="sel3">Tipo de Agua:</label>
                <select class="form-control" name="opcionagua" id="sel3">
                         <option value="1" {% if demografico.opcionagua == 1 %} selected {% endif%} >Cloaca </option>
                         <option value="2" {% if demografico.opcionagua == 2 %} selected {% endif%} >Pozo</option>
                        </select>
            </div>
        </div>
        </div>        
        <div class="form-group col-sm-12"> 
            <input type="reset" value="Cancelar" class="btn btn-warning" onClick="location.href='{{ volver }}'" >
            <input type="submit" value="Actualizar" class="btn btn-success">
        </div>
        
        {% if error is defined %}
                <a> {{ error }}</a>
        {% endif %}

        <input type="hidden" name="id" value=" {{ demografico.datos_demograficos_id }} ">

    </form>
</div>    
{% endblock %}