{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
    

 <label>CREAR DATO DEMOGRAFICO</label>   
<div class="form-container table-container"> 
     <form id="test-form" class="" action='index.php?seccion=userController&amp;action=newDemografic' method='POST'>
        <div class="form-group"> 
            <label class = "form-control-label" for="Heladera">Heladera? :</label><br>
            <div class="radio">
                <label class="radio-inline"><input type="radio" value="1" name="radioheladera">Si</label>
                </div>
            <div class="radio">
             <label class="radio-inline"><input type="radio" value="0" name="radioheladera">No</label>
            </div>
            </div>
             <div class="form-group"> 
            <label class = "form-control-label" for="Electricidad">Electricidad? :</label><br>
            <div class="radio">
                <label class="radio-inline"><input type="radio" value="1" name="radioelectricidad">Si</label>
                </div>
            <div class="radio">
             <label class="radio-inline"><input type="radio" value="0" name="radioelectricidad">No</label>
            </div>
             </div>
            <div class="form-group"> 
            <label class = "form-control-label" for="username">Mascota? :</label><br>
            <div class="radio">
                <label class="radio-inline"><input type="radio" value="1" name="radiomascota">Si</label>
                </div>
            <div class="radio">
             <label class="radio-inline"><input type="radio" value="0" name="radiomascota">No</label>
            </div>
            <div class="form-group">
                <label for="sel1">Tipo de vivienda:</label>
                <select class="form-control" name="opcionvivienda" id="sel1">
                         <option value="1">Departamento </option>
                         <option value="2">Casa</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="sel2">Tipo de calefaccion:</label>
                <select class="form-control" name="opcioncalefaccion" id="sel2">
                         <option value="1">Central</option>
                         <option value="2">Gas</option>
                        </select>
            </div>
            <div class="form-group">
                <label for="sel3">Tipo de Agua:</label>
                <select class="form-control" name="opcionagua" id="sel3">
                         <option value="1">Cloaca </option>
                         <option value="2">Pozo</option>
                        </select>
            </div>
        </div>
        </div>        
        <div class="form-group col-sm-12"> 
            <input type="reset" value="Cancelar" class="btncancelar" onClick="location.href='{{ volver }}'" >
            <input type="submit" value="Dar de Alta" class="btnAlta">
        </div>
        
        {% if error is defined %}
                <a> {{ error }}</a>
        {% endif %}

        <input type="hidden" name="paciente_id" value=" {{paciente_id.id}} ">

    </form>
</div>    
{% endblock %}