{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
    

 <label>CARGAR DATO DEMOGRAFICO</label>   
<div class="form-container table-container"> 
     <form id="test-form" class="" action='index.php?seccion=demografico&amp;action=newDB' method='POST'>
        <div class="form-group"> 
            <label class = "form-control-label" for="Heladera">Heladera? :</label><br>
            
                <label class="radio-inline"><input type="radio" value="1" name="radioheladera" required>Si</label>
                
            
             <label class="radio-inline"><input type="radio" value="0" name="radioheladera">No</label>
            
            </div>
             <div class="form-group"> 
            <label class = "form-control-label" for="Electricidad">Electricidad? :</label><br>
                <label class="radio-inline"><input type="radio" value="1" name="radioelectricidad" required>Si</label>
            
             <label class="radio-inline"><input type="radio" value="0" name="radioelectricidad">No</label>
            
             </div>
            <div class="form-group"> 
            <label class = "form-control-label" for="username">Mascota? :</label><br>
            
                <label class="radio-inline"><input type="radio" value="1" name="radiomascota" required>Si</label>
                
            
             <label class="radio-inline"><input type="radio" value="0" name="radiomascota">No</label>
            
            <div class="form-group">
                <label for="sel1">Tipo de vivienda:</label>
                <select class="form-control" name="opcionvivienda" id="sel1">
                    {% for clave, vivienda in viviendas %}
                        <option value= "{{clave}}" {% if (demografico.tipo_vivienda_id == clave) %} selected {% endif %}>{{vivienda}}</option>
                    {% endfor %}         
                </select>
            </div>
            <div class="form-group">
                <label for="sel2">Tipo de calefaccion:</label>
                <select class="form-control" name="opcioncalefaccion" id="sel2">
                    {% for clave, calefaccion in calefacciones %}
                        <option value= "{{clave}}" {% if (demografico.tipo_calefaccion_id == clave) %} selected {% endif %}>{{calefaccion}}</option>
                    {% endfor %}        
                </select>
            </div>
            <div class="form-group">
                <label for="sel3">Tipo de Agua:</label>
                <select class="form-control" name="opcionagua" id="sel3">
                    {% for clave, agua in aguas %}
                        <option value= "{{clave}}" {% if (demografico.tipo_agua_id == clave) %} selected {% endif %}>{{agua}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        </div>        
        <div class="form-group col-sm-12"> 
            <input type="reset" value="Cancelar" class="btn btn-warning" onClick="location.href='{{ volver }}'" >
            <input type="submit" value="Dar de Alta" class="btn btn-success">
        </div>
        
        {% if error is defined %}
                <a> {{ error }}</a>
        {% endif %}

        <input type="hidden" name="paciente" value=" {{paciente}} ">

    </form>
</div>    
{% endblock %}