{% extends 'front.twig.html' %}
{% block contenido %}
	{% block barra %}
		<div class = "navbar navbar-inverse">
			<div class="container-fluid">
				<img class="imagen" src="images/hospital.jpg" alt = 'logoHospital'>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		              <span class="sr-only">Toggle navigation</span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		              <span class="icon-bar"></span>
		            </button>
					<a class="navbar-brand " href=" ">{{ titulo }}</a>
				</div>	
				<div id="navbar" class="navbar-collapse collapse">
					<ul class = "navbar-nav">
						{% if usuario is defined %}	
							<li><a href="index.php?seccion=pacientes&amp;action=index">Pacientes</a></li>
	              			<li><a href="index.php">Inicio</a></li>	
	              		
							<li class="dropdown">
				                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				                <ul class="dropdown-menu">
				                  <li><a href="index.php?seccion=userController&amp;action=index">Usuarios</a></li>
				                  <li><a href="#">Roles</a></li>
				                  <li><a href="#">Permisos</a></li>
				                  <li role="separator" class="divider"></li>
				                  <li><a href="index.php?seccion=configController&amp;action=show">Configuracion</a></li>
				                </ul>
				            </li>
						{% endif %}					
					</ul>
					<ul class="navbar-nav navbar-right">
						<li>
							<form class = 'navbar-form'>
								<div class="form-group" >
									<div class="input-group">
										<input class="form-control" name="buscar" placeholder="Buscar" autocomplete="off" autofocus="autofocus" type="text">
										<div class="input-group-btn">
											<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
										</div>	
									</div>
								</div>	
							</form>
						</li>		
						<li>
						{% if usuario is defined %}
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ usuario }}</a>
								<ul class="dropdown-menu">
									<li><a href="index.php?seccion=login&amp;action=salir">Salir</a></li>
								</ul>	
						{% else %}
								
								<a class="white" href= "index.php?seccion=login&amp;action=showLoginForm">Login</a>
						{% endif %}
						</li>
					</ul>	
					
				</div>	
			</div>

		</div>
	{% endblock %}
	{% block cuerpo %} 
		<section>
			<div class="define"></div>
			<div id = 'cuerpo'>
				<div >
					<h1 id = 'titulo'>{{ titulo }}</h1>
				</div>
				<div class = 'parte'>
					<h2>¿Quienes somos?</h2>
					<p>Somos un hospital pediátrico creado el 30 de abril de 1875 cuya creación impulsó el Dr. Ricardo Gutiérrez en la ciudad de Buenos Aires, quien lo dirigió desde agosto de ese año hasta su muerte en 1896. Morbi non nulla eros. Phasellus eget ultrices dolor. Nullam justo velit, condimentum id consequat in, sagittis vitae risus.Vestibulum congue est ut velit consectetur dapibus. Vestibulum hendrerit ac nunc eu semper. Etiam sit amet magna interdum, viverra nibh eget, maximus mi. Aenean nec urna et urna bibendum pretium sed ut lorem. Sed enim ligula, interdum eget tristique quis, maximus id augue. Morbi accumsan, ex a fermentum blandit, tellus turpis auctor justo, a pellentesque turpis sem luctus augue. Mauris euismod commodo felis ut rhoncus.</p>
					<button class="boton"> Leer mas >> </button>
				</div>
				<div class = 'parte'>
					<h2>Guardia</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi ac erat vulputate pharetra. Morbi eget tincidunt enim. Nam blandit tortor finibus, egestas justo quis, egestas tortor. Vestibulum efficitur nibh nisi, consectetur consectetur orci aliquam in. Donec non velit feugiat, tempus tortor quis, tristique erat. Sed efficitur purus ut lacus mattis bibendum. Sed nisl nisi, fermentum id nunc non, posuere volutpat ante. Sed viverra accumsan nunc et auctor. Fusce sed enim enim. Proin nisl lacus, vestibulum ac metus at, facilisis vestibulum sapien.</p>
					<button class="boton"> Leer mas >> </button>
				</div>
				<div class = 'parte'>
					<h2>Especialidades</h2>
					<p>Aenean sodales dui nec vulputate interdum. Maecenas ac velit elit. In dictum a metus id sagittis. Cras elementum laoreet turpis sed lobortis. Vestibulum aliquet nunc sed interdum scelerisque. Cras quis tristique tortor. Sed luctus felis convallis, vestibulum ipsum ac, vulputate nibh. Duis tristique pellentesque est a ullamcorper. Donec purus ex, varius quis rutrum ut, cursus a nisi. Sed faucibus nulla vitae porta varius. Maecenas fringilla ornare nisl, ac volutpat risus. Etiam hendrerit bibendum gravida. In sapien felis, aliquet ac purus vitae, congue maximus lorem. Ut et dapibus mi. Praesent vulputate neque elit, non mattis nisl consectetur non. Cras sagittis volutpat diam eget commodo. Ut porta lectus quis lacus posuere aliquet ut non augue. </p>
					<button class="boton"> Leer mas >> </button>
				</div>
			</div>
		</section>
	{% endblock %}	
{% endblock %}