<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Hospital Gutierres</title>
	{% block estilo %} 
	<link rel="stylesheet" type="text/css" href={{ url ~ "css/style.css" }}> 
	<link rel="stylesheet" type="text/css" href={{ url ~ "bootstrap/bootstrap.css" }}>
	{% endblock %}
	{% block javaScript %} 
		<script type="text/javascript" src ={{ url ~ "jquery/jquery.min.js" }} ></script>
		<script type="text/javascript" src ={{ url ~ "bootstrap/bootstrap.js"}} ></script>				
	{% endblock %}
</head>
<body>
{% block contenido %}

{% endblock %}
<footer>
	<ul>
		<li> <p> Proyecto de Software 2017 - Hospital Dr. Ricardo Gutierrez </p> </li>
		<li class="right"> <p> v 0.1.0 </p> </li>
	</ul>
</footer>

</body>
</html>