<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Graficos</title>
		<link rel="stylesheet" type="text/css" href="./graficos/css/style.css" >
		<script src="./graficos/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="./graficos/bower_components/highcharts/highcharts.js"></script>
		<script src="./graficos/bower_components/highcharts/modules/exporting.js"></script>
		<script src="./graficos/js/script.js"></script>
		
		<script src="./graficos/js/charts.js"></script>
	</head>
		<body>
		<ol class="rectangle-list">
		    <li><a>Curva de crecimiento</a>
		        <ol>
		            <li id="ccm"><a href="#chart">Gráfico de la evolución del peso mujeres hasta 13 semanas</a></li>
		            <li id="cch"><a href="#chart">Gráfico de la evolución del peso hombres hasta 13 semanas</a></li>
		        </ol>
		    </li>
		    <li><a>Curva de talla</a>
		        <ol>
		            <li id="ctm"><a href="#chart">Gráfico de la evolución de la talla mujeres hasta 2 años</a></li>
		            <li id="cth"><a href="#chart">Gráfico de la evolución de la talla hombres hasta 2 años</a></li>
		        </ol>
		    </li>
		    <li><a>Curva de percentil perímetro cefálico</a>
		        <ol>
		            <li id="cpcm"><a href="#chart">Gráfico de la evolución del PPC mujeres hasta 13 semanas</a></li>
		            <li id="cpch"><a href="#chart">Gráfico de la evolución del PPC hombres hasta 13 semanas</a></li>
		        </ol>
		    </li>                        
		</ol>
		<div id="chart">
		</div>
	</body>
</html>