{% extends 'frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script type="text/javascript" src ="jquery-ui/jquery-ui.min.js" ></script>
    <script type="text/javascript" src ="js/fechas.js" ></script>
    <script type="text/javascript" src ="js/confirmarBorrarH.js" ></script>
    <script type="text/javascript" src ="js/chequearEditarHistoria.js" ></script>
    <script src="code/highcharts.js"></script>
    <script src="code/modules/series-label.js"></script>
	<script src="code/modules/exporting.js"></script>
    <script type="text/javascript" src ="js/curvaPeso.js" ></script>
{% endblock %}
{% block estilo %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href= "jquery-ui/jquery-ui.min.css">
{% endblock %}

{% block cuerpo %}


		<div class = "row" > 
			<div class = "col-md-6">
				{% include 'paginacion.twig.html' %}
			</div>
			<div class = "col-md-1 col-md-offset-3" >
				<button class="btn btn-success" onclick = "location.href= 'index.php?seccion=historiaController&amp;action=new&amp;pacienteid={{ pacienteid }}' ">
		         	NUEVO
		        </button>
			</div>	
		    {% if  not historias is empty %}
			    <div class = "col-md-1 " >
					<button class="btn btn-warning" onclick = "location.href= 'index.php?seccion=historiaController&amp;action=grafico&amp;pacienteid={{pacienteid}}' ">
			         	Evolucion
			        </button>
				</div>
			{% endif %}  
				
		</div>
		{% if historias is empty %}
				<label>Este paciente no cuenta con historias clinicas</label>	
		{% else %}
			<div>
				<div class="row">    
				    <div class="col-xs-8 col-xs-offset-2">
					    <form method = "get" action = "index.php">
						    <div class="col-md-5">        
				                <label class="col-md-12"> Desde</label>
				                <input type="text" class="col-md-12" name="desde" value = "{{ desde }}"  id = "desde">
				            </div>
				            <div class = "col-md-5" >
				            	<label class="col-md-12 form-control-label"> Hasta</label>
				            	<input type="text" class="col-md-12" name="hasta" value = "{{ hasta }}"  id ="hasta">	
				            </div>
				            <div class = ""> 
				            	<input type="hidden" class="form-control" name="page" value = "1">
				                <input type="hidden" class="form-control" name="seccion" value = "historiaController">
				                <input type="hidden" class="form-control" name="action" value = "index">
				                <input type="hidden" class="form-control" name="pacienteid" value = "{{ pacienteid }}">
				            </div>
				            <div class = "col-md-2 ">
				            	<button class = "btn btn-info" type = "submit" Value = "FILTRAR">FILTRAR</button>
				            </div>
			        	</form>
				    </div>
				</div> <!-- final del buscador-->
				<div class = "table-responsive">
					<input type = "text" hidden value = "{{usuarioId}}" id = "usuario">
					<table class="table">
					    <thead>
					      <tr>
					      	<th>Fecha de realizacion</th>
					      	<th>Pediatra a cargo</th>
					      </tr>
				    	</thead>
				    	<tbody>
				    		{% for historia in historias %}
				    			<tr>
					    			<td> {{ historia.fecha }} </td>
				    				<td>{{ historia.last_name }} {{ historia.first_name }}</td>		
				    				<td>
					    			 	<p>
					    			 		<a href="index.php?seccion=historiaController&amp;action=show&amp;id={{ historia.id }}&amp;pacienteid={{ pacienteid }}"> 
					    			 			<img class = "icono" src='images/ojo.png' alt="Ver historia">
					    			 		</a>
					    			 	</p>
					    			</td>
					    			<td>
		                    		<td>
		                    			<p>
		                    				<input type = "text" hidden value="{{ historia.pediatra }}">
		                    				<a href="index.php?seccion=historiaController&amp;action=update&amp;id={{historia.id}}&amp;pediatraH={{historia.pediatra}}" class = "editar">  
		                    					<img class = "icono"  src='images/edit.jpeg' alt="Editar historia"> 
		                    				</a>
		                    			</p>
		                    		</td>
					    			<td>
					    	    		<p>
					    			 		<a href="index.php?seccion=historiaController&amp;action=destroy&amp;id={{ historia.id }}&amp;pacienteid={{ pacienteid }}" class = "borrar"> 
					    			 			<img class = "icono" src='images/borrar.jpeg' alt="Eliminar historia">
					    			 		</a>
					    			 	</p>
					    			</td>
				    			</tr>		           
				    		{% endfor %}	
				    	</tbody>		
					</table>
				</div>	


			</div>
		{% endif %}
		
{% endblock %}	