{% extends 'frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script type="text/javascript" src ="js/confirmarBorrarP.js" ></script>
{% endblock %}

{% block cuerpo %}
	
	{% if pacientes is empty %}
		<label>NO se encontraron pacientes</label>	
	{% else %}
		<div class = "table-responsive">
			<table class="table">
			    <thead>
			      <tr>
			      	<th>Apellido</th>
			      	<th>Nombre</th>
			      	<th>Fecha de Nacimiento</th>
			      	<th>Genero</th>
			      	<th>Tipo de Documento</th>
			      	<th>Numero de Documento</th>
			      	<th>Domicilio</th>
			      	<th>Telefono</th>
			      	<th>Obra Social</th>
			      	
			      </tr>
		    	</thead>
		    	<tbody>
		    		<div class="row">    
				        <div class="col-md-12 ">
						    <form method = "get" action = "index.php">
							    <div class="input-group col-md-6 col-md-offset-3">         
					                <input type="text" class="" name="filtro" value = "{{ filtro }}" placeholder=" buscar ">
					                <input type="hidden" class="form-control" name="page" value = "1">
					                <input type="hidden" class="form-control" name="seccion" value = "pacientes">
					                <input type="hidden" class="form-control" name="action" value = "index">
					                <input type="hidden" class="form-control" name="filtroDoc" id="filtroDoc" value = "{{filtroDoc}}">
						            <SELECT name = "docFiltro" id = "docFiltro" class = ""> 
						                <option value= "0"> -Tipo de documento- </option>						              
						            </SELECT>
						            <input type="number" class="" name="filtroDocNum" value = "{{filtroDocNum}}" placeholder="documento sin puntos">
					                <span class="input-group-btn">
					                    <button class="btn btn-succes" type="submit">
					                    	<span class=""> BUSCAR</span>
					                    </button>
					                </span>
					            </div>
					            
				        		
				        	</form>
				        </div>
					</div>
		    		{% for paciente in pacientes %}
		    			<tr>
			    			<td> {{ paciente.apellido }} </td>
			    			<td> {{ paciente.nombre }} </td>
			    			<td> {{ paciente.nacimiento }} </td>
			    			<td> {{ paciente.genero }} </td>
			    			<td class= "tipoDoc"> {{documentos[paciente.tipoDoc]}} </td>
			    			<td> {{ paciente.numDoc }} </td>
			    			<td> {{ paciente.domicilio }} </td>
			    			<td> {{ paciente.telefono }} </td>
			    			<td class = "obraSocial"> {{ obras[paciente.obraSocial] }} </td>

			    		

		    				
			    		
			    			
			    			<td>
			    			 	<p>
			    			 		<a href="index.php?seccion=pacientes&amp;action=show&amp;id={{ paciente.id }}"> 
			    			 			<img class = "icono" src='images/ojo.png' alt="Ver paciente">
			    			 		</a>
			    			 	</p>
			    			</td>
			    			<td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=pacientes&amp;action=update&amp;id={{ paciente.id }}">  
                    					<img class = "icono"  src='images/edit.jpeg' alt="Editar Paciente"> 
                    				</a>
                    			</p>
                    		</td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=historiaController&amp;action=index&amp;pacienteid={{ paciente.id }}"> 
			    			 			<img class = "icono" src='images/historia.jpg' alt="ver historias">
			    			 		</a>	
                    			</p>
                    		</td>
			    			<td>
			    	    		<p>
			    			 		<a href="index.php?seccion=pacientes&amp;action=destroy&amp;id={{ paciente.id }}" class = "borrar"> 
			    			 			<img class = "icono" src='images/borrar.jpeg' alt="Eliminar paciente">
			    			 		</a>
			    			 	</p>
			    			</td>
                    	

		    			</tr>
		    			
		    		{% endfor %}	


		    	</tbody>		
			</table>
		</div>
		<div class = "row" > 
			<div class = "col-md-6">
				{% include 'paginacion.twig.html' %}
			</div>
			<div class = "col-md-1 col-md-offset-4" >
				<button class="btn btn-warning" onclick = "location.href= 'index.php?seccion=pacientes&amp;action=grafico' ">
		         	Estadisticas
		        </button> 
			</div>	
			<div class = "col-md-1" >
				<button class="btn btn-success" onclick = "location.href= 'index.php?seccion=pacientes&amp;action=new' ">
		         	NUEVO
		        </button>
			</div>
				
		</div>
		
	{% endif %}	
{% endblock %}	