{% extends 'frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script type="text/javascript" src ="js/confirmarBorrarP.js" ></script>
{% endblock %}

{% block cuerpo %}
	<a> Listado Pacientes</a>
	{% if pacientes is empty %}
		<label>NO se encontraron pacientes</label>	
	{% else %}
		<div class = "table-responsive">
			<table class="table">
			    <thead>
			      <tr>
			      	<th>Apellido</td>
			      	<th>Nombre</td>
			      	<th>Fecha de Nacimiento</td>
			      	<th>Genero</td>
			      	<th>Tipo de Documento</td>
			      	<th>Numero de Documento</td>
			      	<th>Domicilio</td>
			      	<th>Telefono</td>
			      	<th>Obra Social</td>
			      </tr>
		    	</thead>
		    	<tbody>
		    		{% for paciente in pacientes %}
		    			<tr>
			    			<td> {{ paciente.apellido }} </td>
			    			<td> {{ paciente.nombre }} </td>
			    			<td> {{ paciente.nacimiento }} </td>
			    			<td> {{ paciente.genero }} </td>
			    			<td> {{ paciente.tipoDoc | upper }} </td>
			    			<td> {{ paciente.numDoc }} </td>
			    			<td> {{ paciente.domicilio }} </td>
			    			<td> {{ paciente.telefono }} </td>
			    			<td> {{ paciente.obraSocial }} </td>

			    		

		    				<td>
			    			 	<p>
			    			 		<a href="index.php?seccion=pacientes&amp;action=show&amp;id={{ paciente.id }}"> 
			    			 			<img class = "icono" src='images/ver.jpeg' alt="Ver paciente">
			    			 		</a>
			    			 	</p>
			    			</td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=pacientes&amp;action=update&amp;id={{ paciente.id }}">  
                    					<img class = "icono"  src='images/edit.jpeg' alt="Editar Paciente"> 
                    				</a>
                    			</p>
                    		</td>
                    		
			    			<td>
			    	    		<p>
			    			 		<a href="index.php?seccion=pacientes&amp;action=destroy&amp;id={{ paciente.id }}" class = "borrar"> 
			    			 			<img class = "icono" src='images/borrar.jpeg' alt="Eliminar paciente">
			    			 		</a>
			    			 	</p>
			    			</td>
                    	

		    			</tr>
		    			
		    		{% endfor %}	


		    	</tbody>		
			</table>
		</div>
		<div class = "row" > 
			<div class = "col-md-6">
				{% include 'paginacion.twig.html' %}
			</div>
			<div class = "col-md-1 col-md-offset-5" >
				<button class="btn btn-success" onclick = "location.href= 'index.php?seccion=pacientes&amp;action=new' ">
		         	NUEVO
		        </button>
			</div>	
		</div>
		<div class="row">    
	        <div class="col-xs-8 col-xs-offset-2">
			    <form method = "get" action = "index.php">
				    <div class="input-group">         
		                <input type="text" class="form-control" name="filtro" value = "{{ filtro }}" placeholder=" buscar ">
		                <input type="hidden" class="form-control" name="page" value = "1">
		                <input type="hidden" class="form-control" name="seccion" value = "pacientes">
		                <input type="hidden" class="form-control" name="action" value = "index">
		                <span class="input-group-btn">
		                    <button class="btn btn-default" type="submit">
		                    	<span class="glyphicon glyphicon-search"></span>
		                    </button>
		                </span>
		            </div>
	        	</form>
	        </div>
		</div>
	{% endif %}	
{% endblock %}	