{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
    

<label>MOSTRAR PACIENTE</label>   
<div class="form-container table-container"> 
     <form  class="form-horizontal" action='' method='POST'>
       
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="nombre">Nombre :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.nombre }}</p>
            </div>
        </div>
       
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="apellido"> Apellido :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.apellido }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="nacimiento">Fecha de Nacimiento :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.nacimiento }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="genero">Genero :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.genero }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="TipoDoc">Tido de documento :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.tipoDoc | upper }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="numDoc">Numero de documento :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.numDoc }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="domicilio">Domicilio :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.domicilio }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="telefono">Telefono :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.telefono }}</p>
            </div>
        </div>
        <div class="form-group row"> 
            <label class = "form-control-label col-sm-2" for="obraSocial">Obra Social :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ paciente.obraSocial }}</p>
            </div>
        </div>
     
       
       <input type="reset" value="Volver" class="btn btn-warning" onClick="location.href='index.php?seccion=pacientes&amp;action=index'" >
       
        {% if not paciente.datos_demograficos_id %}
            <input type="reset" value="Cargar datos demograficos" class="btn btn-success " onClick="location.href='index.php?seccion=demografico&amp;action=new&amp;id={{paciente.id}}'" >            
        {% else %}
            <input type="reset" value="Ver datos demograficos" class="btn btn-info" onClick="location.href='index.php?seccion=demografico&amp;action=show&amp;id={{paciente.id}}'" >

            <input type="reset" value="Edita datos demograficos" class="btn btn-success " onClick="location.href='index.php?seccion=demografico&amp;action=update&amp;id={{paciente.id}}'" >
        {% endif %}
        

        
        
        
    </form>
    
    
</div>    
{% endblock %}
