{% extends 'frontHabilitado.twig.html' %}

{% block javaScript %}
    {{ parent() }}
    <script type="text/javascript" src ="js/confirmarBorrarU.js" ></script>
{% endblock %}

{% block cuerpo %}
	{% if usuarios is empty %}
		<label>NO se encontraron usuarios</label>	
	{% else %}
		<div class = "row" > 
			<div class = "col-md-6">
				{% include 'paginacion.twig.html' %}
			</div>
			<div class = "col-md-1 col-md-offset-5" >
				<button class="btn btn-success" onclick="location.href= 'index.php?seccion=userController&amp;action=new' ">
		         	NUEVO
		        </button>
			</div>	
		</div>
		<div class="row">    
	        <div class="col-xs-8 col-xs-offset-2">
			    <form method = "get" action = "index.php">
				    <div class="input-group">         
		                <input type="text" class="form-control" name="filtro" value = "{{ filtro }}" placeholder=" buscar ">
		                <input type="hidden" class="form-control" name="page" value = "1">
		                <input type="hidden" class="form-control" name="seccion" value = "userController">
		                <input type="hidden" class="form-control" name="action" value = "index">
		                <span class="input-group-btn">
		                    <button class="btn btn-default" type="submit">
		                    	<span class="glyphicon glyphicon-search"></span>
		                    </button>
		                </span>
		            </div>
			            <SELECT name = "habilitadoFil" id = "estadoFiltro" class = "form-control col-md-1"> 
							<option value= "2"> Seleccione un estado</option>
							<option value= "1"> Habilitado </option>
							<option value= "0"> Bloqueado </option>						              
						</SELECT>
	        	</form>
	        </div>
		</div>
		<div class = "table-responsive">
		
			<table class="table">
			    <thead>
			      <tr>
			      	
			      	<th>Nombre de usuario</th>
			      	<th>First Name</th>
			      	<th>Last Name</th>
			      	<th>Correo electronico</th>
			      	<th>Estado</th>
			      </tr>
		    	</thead>
		    	<tbody>
		    		{% for usuario in usuarios %}
		    			<tr>
			    			
			    			<td> {{ usuario.username }} </td>
			    			<td> {{ usuario.first_name }} </td>
			    			<td> {{ usuario.last_name }} </td>
			    			<td> {{ usuario.email }} </td>
			    			<td> 
			    				{% if usuario.activo %} 
			    					activo
			    				{% else %}
			    					bloqueado
			    				{% endif %}		
			    			</td>
		    			
			    			<td>
			    			 	<p>
			    			 		<a href="index.php?seccion=userController&amp;action=show&amp;id={{ usuario.id }}" > 
			    			 			<img class='icono' src='images/ver.jpeg' alt="ver registro">
			    			 		</a>
			    			 	</p>
			    			</td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=userController&amp;action=update&amp;id={{ usuario.id }}">  
                    					<img class='icono' src='images/edit.jpeg' alt="imagen de editar info"> 
                    				</a>
                    			</p>
                    		</td>
                    		
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=userController&amp;action=destroy&amp;id={{ usuario.id }}" class = "borrar" > 
                    					<img class='icono' src='images/borrar.jpeg' alt="imagen para eliminar registro">  
                    				</a>
                    			</p>
                    		</td>
                		</tr>
                	
		    		{% endfor %}	
		    	</tbody>		
			</table>
		</div>
		
	{% endif %}	
{% endblock %}	