{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
	<a> Listado de Usuarios</a>
	{% if usuarios is empty %}
		<label>NO se encontraron usuarios</label>	
	{% else %}
		<div class = "table-responsive">
		
			<table class="table">
			    <thead>
			      <tr>
			      	
			      	<td>Nombre de usuario</td>
			      	<td>First Name</td>
			      	<td>Last Name</td>
			      	<td>Correo electronico</td>
			      	<td>Estado</td>
			      </tr>
		    	</thead>
		    	<tbody>
		    		{% for usuario in usuarios %}
		    			<tr>
			    			
			    			<td> {{ usuario.username }} </td>
			    			<td> {{ usuario.first_name }} </td>
			    			<td> {{ usuario.last_name }} </td>
			    			<td> {{ usuario.email }} </td>
			    			<td> 
			    				{% if usuario.activo %} 
			    					activo
			    				{% else %}
			    					bloqueado
			    				{% endif %}		
			    			</td>
		    			
			    			<td>
			    			 	<p>
			    			 		<a href="index.php?seccion=userController&amp;action=show&amp;id={{ usuario.id }}"> 
			    			 			<img src='img/ver.png' alt="ver registro">
			    			 		</a>
			    			 	</p>
			    			</td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=userController&amp;action=update&amp;id={{ usuario.id }}">  
                    					<img  src='img/edit.png' alt="imagen de editar info"> 
                    				</a>
                    			</p>
                    		</td>
                    		
                    		<td>
                    			<p>
                    				<a onClick="javascript: return confirm('Estas seguro?');" href="index.php?seccion=userController&amp;action=destroy&amp;id={{ usuario.id }}" > 
                    					<img class='' src='img/delete.png' alt="imagen para eliminar registro">  
                    				</a>
                    			</p>
                    		</td>
                		</tr>
                	
		    		{% endfor %}	
		    	</tbody>		
			</table>
		</div>
		{% include 'paginacion.twig.html' %}
		<div class="row">    
	        <div class="col-xs-8 col-xs-offset-2">
			    <form method = "get" action = "index.php">
				    <div class="input-group">         
		                <input type="text" class="form-control" name="filtro" value = "{{ filtro }}" placeholder=" buscar ">
		                <input type="hidden" class="form-control" name="page" value = "1">
		                <input type="hidden" class="form-control" name="seccion" value = "userController">
		                <input type="hidden" class="form-control" name="action" value = "index">
		                <span class="input-group-btn">
		                    <button class="btn btn-default" type="submit">
		                    	<span class="glyphicon glyphicon-search"></span>
		                    </button>
		                </span>
		            </div>
	        	</form>
	        </div>
		</div>
	{% endif %}	
{% endblock %}	