{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
    

<label>MOSTRAR USUARIO</label>   
<div class="form-container table-container"> 
     <form  class="form-horizontal" action='val' method='POST'>
       
        <div class="form-group"> 
            <label class = "form-control-label col-sm-2" for="username">Nombre de usuario :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ user.username }}</p>
            </div>
        </div>
        <div class="form-group"> 
            <label class = "form-control-label col-sm-2" for="first_name">Estado :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static">
                {% if user.activo %} 
                     activo
                 {% else %}
                     bloqueado
                {% endif %}
              </p>  
            </div>
        </div>
        <div class="form-group"> 
            <label class = "form-control-label col-sm-2" for="email">Correo Electronico :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ user.email }}</p>
            </div>
        </div>
        <div class="form-group"> 
            <label class = "form-control-label col-sm-2" for="first_name">Nombre :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ user.first_name }}</p>
            </div>
        </div>
        <div class="form-group"> 
            <label class = "form-control-label col-sm-2" for="last_name">Apellido :</label>
            <div class = "col-sm-10">
              <p class = "form-control-static"> {{ user.last_name }}</p>
            </div>
        </div>
        <div class="form-group"> 
            <label class = "form-control-label  col-sm-2" for="roles">Roles :</label>
            <div class = "col-sm-4">
              <select multiple class="form-control " id="roles" disabled>
                {% for rol in roles %}
                  <option> {{ rol.nombre }} </option>
                {% endfor%}
              </select>
            </div> 
        </div>


        <button  class="btn btn-primary btn-md col-md-1" onclick="location.href='{{ volver }}'"> VOLVER </button>
        
        
    </form>
</div>    
{% endblock %}
