{% extends 'frontHabilitado.twig.html' %}

{% block cuerpo %}
	<a> Listado de Usuarios</a>
	{% if usuarios is empty %}
		<label>NO se encontraron usuarios</label>	
	{% else %}
		<div class = "table-responsive">
		
			<table class="table">
			    <thead>
			      <tr>
			      	
			      	<td>Nombre de usuario</td>
			      	<td>First Name</td>
			      	<td>Last Name</td>
			      	<td>Correo electronico</td>
			      	<td>Estado</td>
			      </tr>
		    	</thead>
		    	<tbody>
		    		{% for usuario in usuarios %}
		    			<tr>
			    			
			    			<td> {{ usuario.username }} </td>
			    			<td> {{ usuario.first_name }} </td>
			    			<td> {{ usuario.last_name }} </td>
			    			<td> {{ usuario.email }} </td>
			    			<td> 
			    				{% if usuario.activo %} 
			    					activo
			    				{% else %}
			    					no activo
			    				{% endif %}		
			    			</td>
		    			
			    			<td>
			    			 	<p>
			    			 		<a href="index.php?seccion=userController&amp;action=leer&amp;id={{ usuario.id }}"> 
			    			 			<img src='img/ver.png' alt="ver registro">
			    			 		</a>
			    			 	</p>
			    			</td>
                    		<td>
                    			<p>
                    				<a href="index.php?seccion=userController&amp;action=editar&amp;id={{ usuario.id }}">  
                    					<img  src='img/edit.png' alt="imagen de editar info"> 
                    				</a>
                    			</p>
                    		</td>
                    		<td>
                    			<p>
                    				<a onClick="javascript: return confirm('Estas seguro?');" href="index.php?seccion=userController&amp;action=borrar&amp;id={{ usuario.id }}" > 
                    					<img class='' src='img/delete.png' alt="imagen para eliminar registro">  
                    				</a>
                    			</p>
                    		</td>
                		</tr>
                	
		    		{% endfor %}	
		    	</tbody>		
			</table>
		</div>
	{% endif %}	
{% endblock %}	